html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;

}

body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
}
nav {
    color: #F5EEDC;
    padding: 20px 40px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DD4A48;
    height: 40px;
    text-align: center;
}

h1{
   padding-right: 10px;
}
.brand{
    display: flex;   
}

ul {
    display: flex;
    align-items:center;
    }

li {
    padding-right: 20px;
    padding-left: 20px;
    list-style: none;
}

.signup-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 35px;
    color: #DD4A48;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-radius: 4px;
    font-size: 0.8rem;
}

.signup-button:hover{
    scale: 1.05;
}

a{
    color:#F5EEDC;
    text-decoration: none;
}

.Nav-item:hover{
   scale:1.1;
}

.mobile-menu-icon{
    display:none;
}
@media screen and (max-width:800px) {

  .nav-links{
    display:none;
  }
  .mobile-menu-icon{
    display: block;
    width:35px;
    height:35px;
    font-size: 30px;
    color: #F5EEDC;
    border:none;
    top:15px;
    right:15px;
  }  
  .nav-links-mobile{
   position:absolute;
   padding:30px;
   display:block;
   list-style: none; 
   background-color: #DD4A48;
   width:85vw;
   left:0;
   top:64px;
   transition: all 0.3s ease;
   
  }
  .mobile-item{
    color:#F5EEDC;
    text-align: center;
    transition: all 0.5s ease;
    margin:30px
  }
  .brand{
    font-size:small;
  }
  .mobile-menu-icon{
    width:25px;
    height: 25px;
}
 
}